header {
    height: 8rem;
    color: #C6D7C8;
}

.lead {
    padding-bottom: 2%;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.navbar {
    padding: 0;
    margin: 0;
}

.nav-link {
    text-decoration: none;
}

.nav-link.active {
    text-decoration: underline black;
}

.container-fluid {
    height: 50px;
    background-color: #24504B;
}

body {
    padding: 0; 
    background-color: #152328;
}

.content {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #334636;
    text-shadow: 1px 1px 2px #C6D7C8;
    text-align: center;
    z-index: 1;
    padding: 2%;
}

.image {
    width: 100%;
    filter: blur(10px);
}

.home, .about, .resources {
    position: relative;
    margin: 3%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 0px 20px #000000;
    transition: background-color 0.5s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow 0.5s ease-in-out;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
    transform: translateY(0);
    transform: scale(1);
    &:hover {
        box-shadow: 0px 0px 40px #000000;
        transform: translateY(-10px);
        transform: scale(1.05);
    }
    &:active {
        transform: translateY(-5px);
        transform: scale(1.025);
    }
    &:focus {
        outline: none;
    }
    &:focus-visible {
        outline: 2px solid #000000;
    }
    &:focus-within {
        outline: 2px solid #000000;
    }   
}

.home {
    height: 45rem;
}

.about {
    height: 60rem;
}

.about > div > h1 {
    margin: 5%;
    text-decoration: underline;
}

.resources {
    height: 260rem;
}

.resources > div > h1 {
    margin: 5%;
    text-decoration: underline;
}

.resources > .image {
    height: 260rem;
}

.resources > div > div > h3 {
    margin: 5%;
}